<!-- <img src="../../assets/2_crop.jpeg.png" alt="" /> -->

<nav>
  <!-- <a class=""> -->
  <div>
    <img
      style="height: 12vh;
    margin-top: 19px;"
      src="../../assets/SPIT.png"
      alt=""
    />
  </div>
  <div class="header-text">
    <span style="font-size: 1rem">
      <a href="www.spit.ac.in" target="_blank">
        Sardar Patel Institute of Technology
      </a>
    </span>
    <br />
    <span style="font-size: 1.9rem; font-weight: bold"
      >Institute Level Admission ePortal</span
    >
  </div>
  <!-- </a> -->
  <a class=" login" (click)="logout()"
    ><i class="	fa fa-user-circle"></i>&nbsp;&nbsp;Logout</a
  >

  <!-- <a (click)="toggleLogin()" class="navbar-text"><i class="fa fa-user"></i> &nbsp;Logout</a> -->
</nav>
<router-outlet></router-outlet>
