<nav>
  <!-- <a class=""> -->
  <div>
    <img
      style="height: 12vh;
    margin-top: 19px;"
      src="../../assets/SPIT.png"
      alt=""
    />
  </div>
  <div class="header-text">
    <span style="font-size: 1rem">
      <a href="www.spit.ac.in" target="_blank">
        Sardar Patel Institute of Technology
      </a>
    </span>
    <br />
    <span style="font-size: 1.9rem; font-weight: bold"
      >Institute Level Admission ePortal</span
    >
  </div>
  <!-- </a> -->
  <a (click)="toggleLogin()" class="login"
    ><i class="fa fa-user"></i> &nbsp;{{ login_message }}</a
  >

  <!-- <a (click)="toggleLogin()" class="navbar-text"><i class="fa fa-user"></i> &nbsp;Logout</a> -->
</nav>

<div
  class="container mx-auto justify-content-center "
  style="margin-top: 130px;width: 500px"
>
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div *ngIf="studentLogin">
      <div class="form-group">
        <label for="student_arc">ARC Number</label>
        <input
          type="text"
          class="form-control"
          value="12345"
          id="student_arc"
          ngModel
          name="student_arc"
          placeholder="ARC Number"
        />
      </div>

      <div class="form-group">
        <label for="student_cet">CET Roll Number</label>
        <input
          type="text"
          class="form-control"
          value="234"
          id="student_cet"
          ngModel
          name="student_cet"
          placeholder="CET Roll Number"
        />
      </div>
    </div>

    <div *ngIf="!studentLogin">
      <div class="form-group">
        <label for="student_arc">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          ngModel
          name="staff_username"
          placeholder="Enter your username"
        />
      </div>

      <div class="form-group">
        <label for="pass">Password</label>
        <input
          type="password"
          class="form-control"
          id="pass"
          ngModel
          name="staff_password"
          placeholder="Enter your password"
        />
      </div>
    </div>

    <button class="submit btn  btn-block">
      Submit
    </button>
  </form>
</div>
