<!-- <h1 style="margin: 20px">Institute Level Rounds</h1> -->
<div class="container mt-4">
  <h4>
    Applicant Status: <strong>{{ stud_arc }}</strong>
  </h4>
  <br />
  <div *ngIf="round == 0">
    <div class="alert text-center alert-danger" role="alert">
      You are not included in the Insitute Rounds yet. Register to apply for the
      Institue Level Rounds!
    </div>
    <button (click)="studentReg()" class="btn btn-success pull-right">
      Register Now
    </button>
  </div>

  <div *ngIf="round != 0 && no_alloc == true">
    <h4>No Rounds have started yet</h4>
  </div>

  <div *ngIf="round != 0 && no_alloc == false">
    <h5>Current Institue Round: {{ round }}</h5>
    <br />
    <h6>
      You have been alloted <strong>{{ allocated_branch }} branch </strong> in
      the current round.
    </h6>
    <br />
    <!-- <app-payment></app-payment> -->

    <h6 *ngIf="admission_confirmed == 0">
      Visit the College to confirm your admission. <br />
      Option for Freeze and Float of seats will be provided once the seat is
      confirmed
    </h6>

    <div *ngIf="admission_confirmed != 0">
      <button class="btn btn-warning m-5" (click)="freezeFloat(false)">
        Float Seat
      </button>
      <button class="btn btn-success" (click)="freezeFloat(true)">
        Freeze Seat
      </button>
    </div>
  </div>
</div>
