<div class="container mt-5">
  <div class="page">
    <form
      #personal_details="ngForm"
      (ngSubmit)="sendPersonal(personal_details)"
    >
      <!-- <app-payment></app-payment> -->

      <h3>1. Personal Details</h3>
      <br />

      <div class="form-group">
        <label for="full_name">Full Name</label>
        <input
          [ngClass]="{
            'invalid-input': personal_details.form.controls.full_name?.invalid
          }"
          type="text"
          class="form-control"
          id="full_name"
          ngModel
          required
          name="full_name"
        />
        <small id="full_name_help" class="form-text text-muted"
          >Last, First, Middle</small
        >
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="arc_no">ARC Number</label>
          <input
            [ngClass]="{
              'invalid-input': personal_details.form.controls.arc_no?.invalid
            }"
            type="text"
            class="form-control"
            id="arc_no"
            ngModel
            required
            name="arc_no"
            placeholder="ARC Number"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="cet_rollno">CET Roll No.</label>
          <input
            type="text"
            class="form-control"
            id="cet_rollno"
            ngModel
            required
            name="cet_rollno"
            placeholder="CET Roll No."
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="email">Email</label>
          <input
            pattern="[^ @]*@[^ @]*"
            [ngClass]="{
              'invalid-input': personal_details.form.controls.email?.invalid
            }"
            type="email"
            class="form-control"
            id="email"
            ngModel
            name="email"
            placeholder="you@example.com"
          />
        </div>
        <div class="form-group col-md-4">
          <label>Gender<br /><br /><br /></label>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              ngModel
              name="gender"
              id="gender_male"
              value="male"
            />
            <label class="form-check-label" for="gender_male">Male</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              ngModel
              name="gender"
              id="gender_female"
              value="female"
            />
            <label class="form-check-label" for="gender_female">Female</label>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="dob">Date of Birth</label>
          <input
            type="text"
            class="form-control"
            id="dob"
            ngModel
            name="dob"
            placeholder="Date Month Year"
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="address">Address</label>
          <input
            type="text"
            class="form-control"
            id="address"
            ngModel
            required
            name="address"
            placeholder="Address"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="contact">Contact Number</label>
          <input
            [ngClass]="{
              'invalid-input': personal_details.form.controls.contact?.invalid
            }"
            maxlength="10"
            minlength="10"
            type="text"
            class="form-control"
            id="contact"
            ngModel
            required
            name="contact"
            placeholder="Contact Number"
          />
        </div>
      </div>

      <div class="form-group">
        <label for="caste">Caste</label>
        <input
          type="text"
          class="form-control"
          id="caste"
          ngModel
          required
          name="caste"
          placeholder="Caste"
        />
      </div>

      <button type="submit" class="btn btn-success pull-right">Next</button>
    </form>
  </div>

  <div class="page">
    <form
      #academic_details="ngForm"
      (ngSubmit)="sendAcademic(academic_details)"
    >
      <h3>2. Academic Details</h3>
      <br />
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="cet_rank">CET Rank</label>
          <input
            required
            type="text"
            class="form-control"
            id="cet_rank"
            ngModel
            required
            name="cet_rank"
            placeholder="CET Rank"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="cet_total">CET Total Score</label>
          <input
            type="text"
            class="form-control"
            id="cet_total"
            ngModel
            required
            name="cet_total"
            placeholder="CET Total Score"
          />
        </div>
      </div>

      <br />
      <h5>CET Subject-wise Marks</h5>
      <br />
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="cet_physics">CET Physics Marks (/50)</label>
          <input
            required
            [ngClass]="{
              'invalid-input':
                academic_details.form.controls.cet_physics?.invalid
            }"
            max="50"
            type="number"
            class="form-control"
            id="cet_physics"
            ngModel
            name="cet_physics"
            placeholder="Physics Marks"
          />
        </div>
        <div class="form-group col-md-4">
          <label for="cet_chemistry">CET Chemistry Marks (/50)</label>
          <input
            required
            [ngClass]="{
              'invalid-input':
                academic_details.form.controls.cet_chemistry?.invalid
            }"
            max="50"
            type="number"
            class="form-control"
            id="cet_chemistry"
            ngModel
            name="cet_chemistry"
            placeholder="Chemistry Marks"
          />
        </div>
        <div class="form-group col-md-4">
          <label for="cet_maths">CET Mathematics Marks (/100)</label>
          <input
            required
            [ngClass]="{
              'invalid-input': academic_details.form.controls.cet_maths?.invalid
            }"
            max="100"
            type="number"
            class="form-control"
            id="cet_maths"
            ngModel
            name="cet_maths"
            placeholder="Maths Marks"
          />
        </div>
      </div>

      <br />
      <h5>10th and 12th Marks</h5>
      <br />
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="score_twelfth">12th Percentage</label>
          <input
            [ngClass]="{
              'invalid-input':
                academic_details.form.controls.score_twelfth?.invalid
            }"
            required
            max="100"
            type="number"
            class="form-control"
            id="score_twelfth"
            ngModel
            name="score_twelfth"
            placeholder="12th Percentage"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="score_tenth">10th Percentage</label>
          <input
            [ngClass]="{
              'invalid-input':
                academic_details.form.controls.score_tenth?.invalid
            }"
            required
            max="100"
            type="number"
            class="form-control"
            id="score_tenth"
            ngModel
            name="score_tenth"
            placeholder="10th Percentage"
          />
        </div>
      </div>
      <button type="submit" class="btn btn-success pull-right">Next</button>
    </form>
  </div>

  <div class="page">
    <form #documents="ngForm" (ngSubmit)="sendDocs(documents)">
      <h3>3. List of documents to be submitted for Approval</h3>
      <br />
      <h6 class="text-muted">
        Select all relevant documents. Selected documents are to be verified at
        the college at the time of admission.
      </h6>
      <h6 class="text-muted">* marked documents are compulsory.</h6>
      <br />

      <div class="form-check">
        <input
          [ngClass]="{
            'invalid-input': documents.form.controls.cet_application?.invalid
          }"
          required
          value="false"
          type="checkbox"
          class="form-check-input"
          id="cet_application"
          ngModel
          name="cet_application"
        />
        <label for="cet_application"
          >CET Application <span class="reqd">*</span></label
        >
      </div>

      <div class="form-check">
        <input
          [ngClass]="{
            'invalid-input': documents.form.controls.twelfth_marksheet?.invalid
          }"
          required
          value="false"
          type="checkbox"
          class="form-check-input"
          id="twelfth_marksheet"
          ngModel
          name="twelfth_marksheet"
        />
        <label for="twelfth_marksheet"
          >12th Marksheet<span class="reqd">*</span></label
        >
      </div>

      <div class="form-check">
        <input
          [ngClass]="{
            'invalid-input': documents.form.controls.tenth_marksheet?.invalid
          }"
          required
          value="false"
          type="checkbox"
          class="form-check-input"
          id="tenth_marksheet"
          ngModel
          name="tenth_marksheet"
        />
        <label for="tenth_marksheet"
          >10th Marksheet<span class="reqd">*</span></label
        >
      </div>

      <div class="form-check">
        <input
          value="false"
          type="checkbox"
          class="form-check-input"
          id="domicile"
          ngModel
          name="domicile"
        />
        <label for="domicile">Maharashtra Domicile Certificate</label>
      </div>

      <div class="form-check">
        <input
          value="false"
          type="checkbox"
          class="form-check-input"
          id="migration_certificate"
          ngModel
          name="migration_certificate"
        />
        <label for="migration_certificate">Migration Certificate</label>
      </div>

      <button type="submit" class="btn btn-success pull-right">Next</button>
    </form>
  </div>

  <div class="page">
    <h3>4. Stream Preferences</h3>
    <br />
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Stream Name</th>
          <th>Stream ID</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Computer Science</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Information Technology</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Electronics and Tele-Communication</td>
          <td>3</td>
        </tr>
        <tr>
          <td>Electronics</td>
          <td>4</td>
        </tr>
      </tbody>
    </table>

    <h4>Fill in your preferred Stream IDs</h4>
    <form #preferences="ngForm" (ngSubmit)="sendPref(preferences)">
      <div class="form-group">
        <label for="first_pref">First Preference Stream ID</label>
        <input
          type="number"
          class="form-control"
          id="first_pref"
          ngModel
          name="first_pref"
          placeholder="Stream ID"
        />
      </div>
      <div class="form-group">
        <label for="second_pref">Second Preference Stream ID</label>
        <input
          type="number"
          class="form-control"
          id="second_pref"
          ngModel
          name="second_pref"
          placeholder="Stream ID"
        />
      </div>
      <div class="form-group">
        <label for="third_pref">Third Preference Stream ID</label>
        <input
          type="number"
          class="form-control"
          id="third_pref"
          ngModel
          name="third_pref"
          placeholder="Stream ID"
        />
      </div>
      <div class="form-group">
        <label for="fourth_pref">Fourth Preference Stream ID</label>
        <input
          type="number"
          class="form-control"
          id="fourth_pref"
          ngModel
          name="fourth_pref"
          placeholder="Stream ID"
        />
      </div>
      <button class="btn btn-success pull-right" type="submit">Next</button>
      <!-- <app-payment></app-payment> -->
    </form>
  </div>
  <!--
<div class="page">
  <h3>Payment</h3>
</div> -->

  <div class="page">
    <h3>5. Acknowledgement of Receipt</h3>
    <br>
    <app-payment></app-payment>
    <br />
    <button class="btn btn-success" type="submit" (click)="registerStudent()">
      Proceed to Submit
    </button>
  </div>
</div>
