<div class="view-alloc">
  <!-- <br /> -->
  <h5>Allocation List:</h5>
  <br />
  <table class="table">
    <thead>
      <tr>
        <th>
          Round Rank
        </th>
        <th>
          Name
        </th>
        <th>
          Allocated Branch
        </th>
        <th>
          CET Rank
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of sortAccounts('rrank')">
        <td>{{ student.rrank }}</td>
        <td>
          {{ student.name }}
        </td>
        <td>
          {{ student.branch }}
        </td>
        <td>
          {{ student.cet }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
