<div class="new-round">
  <h4>Run Allocation Round</h4>
  <br />
  <h6>Enter Data to run Allocation Round</h6>

  <form (ngSubmit)="allocationData(allocation)" #allocation="ngForm">
    <div class="form-group col-md-6">
      <label for="cs">Number of seats available for CS</label>
      <input
        type="number"
        class="form-control"
        id="cs"
        ngModel
        required
        name="cs"
        placeholder="CS Seats"
      />
    </div>

    <div class="form-group col-md-6">
      <label for="it">Number of seats available for IT</label>
      <input
        type="number"
        class="form-control"
        id="it"
        ngModel
        required
        name="it"
        placeholder="IT Seats"
      />
    </div>

    <div class="form-group col-md-6">
      <label for="extc">Number of seats available for EXTC</label>
      <input
        type="number"
        class="form-control"
        id="extc"
        ngModel
        required
        name="extc"
        placeholder="EXTC Seats"
      />
    </div>

    <div class="form-group col-md-6">
      <label for="etrx">Number of seats available for ETRX</label>
      <input
        type="number"
        class="form-control"
        id="etrx"
        ngModel
        required
        name="etrx"
        placeholder="ETRX Seats"
      />
    </div>

    <button type="submit" class="btn btn-success">Run Allocation</button>
  </form>
</div>
