/* You can add global styles to this file, and also import other style files */
.invalid-input {
  border: 1px solid red;
}

body {
  background: url("./assets/2.jpg");
  color: white;
  font-family: "Segoe UI";
}
