<div class="main_body">
  <div class="sidebar">
    <div [ngClass]="{ active: viewAlloc }" (click)="viewAllocMethod()">
      <i class="fa fa-bars"></i>
      &nbsp;View Allocation
    </div>
    <div [ngClass]="{ active: newRound }" (click)="newRoundMethod()">
      <i class="fa fa-calendar-plus-o"></i>
      &nbsp;Run New Round
    </div>

    <div [ngClass]="{ active: confAd }" (click)="confAdMethod()">
      <i class="fa fa-check-square-o"></i>
      &nbsp;Confirm Admissions
    </div>
  </div>
  <div class="main_content">
    <div *ngIf="viewAlloc">
      <!-- <router-outlet></router-outlet> -->
      <app-view-alloc></app-view-alloc>
    </div>
    <div *ngIf="newRound">
      <!-- <router-outlet></router-outlet> -->
      <app-new-round></app-new-round>
    </div>
    <div *ngIf="confAd">
      <!-- <router-outlet></router-outlet> -->
      <app-confirm-ad></app-confirm-ad>
    </div>
  </div>
</div>
