app-admin-dash {
  overflow: hidden;
}

.main_body {
  display: grid;
  grid-template-columns: 16% 84%;
  overflow: hidden;
  height: 83vh;
}

.sidebar {
  font-size: 0.95rem;
  /* padding: 8px 15px; */
  color: #e2e2e2;
  background-color: #304c6980;
  box-shadow: 2px 2px 2px rgb(43, 43, 43);
}

.sidebar .fa {
  font-size: 0.8rem;
}
.sidebar div {
  padding: 8px 15px;
}

.active {
  font-weight: bold;
  color: white;
}
