<div class="confirm">
  <h4>Confirm Student Admission</h4>
  <br />
  <h6>Enter Data to run Allocation Round</h6>
  <form #confirmAdmission="ngForm" (ngSubmit)="confirmAd(confirmAdmission)">
    <div class="form-group col-md-6">
      <label for="arc_no">Enter Student ARC Number</label>
      <input
        type="text"
        class="form-control"
        id="arc_no"
        ngModel
        required
        name="arc_no"
        placeholder="ARC Number"
      />
    </div>
    <button type="submit" class="btn btn-success">
      Check Student Details
    </button>
  </form>
  <br /><br />
  <div *ngIf="showDet">
    <h5>Student Details</h5>
    <hr style="border:0.3px solid white" />
    <div class="details" *ngIf="showDet">
      <h6><strong>Name:</strong></h6>
      <h6>{{ allocated_name }}</h6>

      <h6><strong>ARC Number:</strong></h6>
      <h6>{{ allocated_arc }}</h6>

      <h6><strong>CET Rank:</strong></h6>
      <h6>{{ allocated_cet_rank }}</h6>

      <h6><strong>Allocation Round Rank:</strong></h6>
      <h6>{{ allocated_round_rank }}</h6>

      <h6><strong>Allocated Branch:</strong></h6>
      <h6>
        <strong>{{ allocated_branch }}</strong>
      </h6>
    </div>
  </div>
</div>
